.container {
  max-width: 36rem;
  padding: 5rem 1rem 5rem 1rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 3rem;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.navBar {
  float: left;
  max-width: 10rem;
  padding: 0 1rem;
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
.backText {
  text-decoration: none !important;
  color: black;
}
